In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [10]:
df = pd.read_csv("mpg2.csv")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [12]:
df.shape

(400, 9)

In [15]:
df.describe()
#used to see the order of magnitude so you can scale it down correctly

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,399.000000,400.000000,400.000000,394.000000,400.000000,400.000000,400.000000
mean,23.681203,5.457500,193.868750,105.322335,2967.530000,15.545250,80.857500
std,8.486141,1.703069,104.880853,42.158313,845.784762,2.777754,97.270402
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.750000,75.250000,2225.250000,13.800000,73.000000
50%,23.000000,4.000000,148.500000,94.500000,2797.500000,15.500000,76.000000
75%,29.000000,8.000000,263.250000,128.000000,3606.000000,17.125000,79.000000
max,90.000000,8.000000,455.000000,450.000000,5140.000000,24.800000,2020.000000

# Check Missing Data

In [16]:
df.isnull().any()

mpg              True
cylinders       False
displacement    False
horsepower       True
weight          False
acceleration    False
model_year      False
origin          False
name            False
dtype: bool

In [17]:
df['horsepower'].head()

0    130.0
1    165.0
2    150.0
3    150.0
4    140.0
Name: horsepower, dtype: float64

In [18]:
df.horsepower.unique()

array([130., 165., 150., 140., 198., 220., 215., 225., 450., 190., 170.,
       160.,  95.,  97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210.,
       193.,  nan, 100., 105., 175., 153., 180., 110.,  72.,  86.,  70.,
        76.,  65.,  69.,  60.,  80.,  54., 208., 155., 112.,  92., 145.,
       137., 158., 167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,
        83.,  78.,  52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,
        53.,  81.,  79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,
        63.,  48.,  66., 139., 103., 125., 133., 138., 135., 142.,  77.,
        62., 132.,  84.,  64.,  74., 116.,  82.])

In [19]:
bad_Data = df[np.isnan(df.horsepower)]

In [20]:
bad_Data.shape

(6, 9)